@import '@styles/variables.scss';

.slideImg {
  display: block;
  width: $vw-golden;
  height: $vh-golden;
  background-color: aqua;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
