@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.main {
  @include for-sp {
    padding-bottom: 6em;
  }
}

.exList {
  width: 70%;
  margin: 0 0 100px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include for-tablet {
    margin: 0 0 100px $pc-side-width;
    width: 90%;
  }
  @include for-sp {
    width: 80%;
    margin: 30px auto;
    align-items: center;
  }
  li {
    width: 100%;
    .exItem {
      width: 100%;
      display: flex;
      align-items: flex-end;
      gap: 12px;
      &:hover {
        .exThumb {
          opacity: 0.9;
        }
      }
      @include for-sp {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
      .exThumb {
        width: 40% !important;
        border-radius: 5px;
        transition: all 0.1s ease-in-out;
        opacity: 0.7;
        flex-shrink: 0;
        @include for-sp {
          width: 100% !important;
        }
      }
      .exTitle {
        @include ex-title-text;
      }
      .exPreiod {
        @include year-text;
        margin-top: 4px;
      }
      .exVenue {
        @include ex-venue-text;
        margin-top: 16px;
        @include for-sp {
          margin-top: 8px;
        }
      }
    }
  }
}
