$d-0: 0px;
$d-1: 1px;
$d-2: 2px;
$d-4: 4px;
$d-8: 8px;
$d-12: 12px;
$d-16: 16px;
$d-20: 20px;
$d-24: 24px;
$d-28: 28px;
$d-32: 32px;
$d-36: 36px;
$d-40: 40px;
$d-48: 48px;
$d-56: 56px;
$d-64: 64px;
$d-72: 72px;
$d-80: 80px;
$d-96: 96px;
$roman: 'EB Garamond';
$mincho: 'Noto Serif JP';
$medium: $d-1;
$large: $d-2;
$extra-large: $d-4;
$spacing-1: $d-4;
$spacing-2: $d-8;
$spacing-3: $d-16;
$spacing-4: $d-32;
$spacing-5: $d-64;
