// color--------------------------------------------------

// width/height--------------------------------------------------
$raito-golden: 61.8%;
$vw-golden: 61.8vw;
$vh-golden: 61.8dvh;

// font--------------------------------------------------
$font-roman: 'Garamond 3 LT Std', 'Hiragino Mincho ProN', serif;
$font-sans-serif: 'Koburina Gothic Std', sans-serif;

// var--------------------------------------------------
$pc-side-width: 14px;
$sp-side-width: 14px;
