@import '@styles/variables.scss';

.slider {
  width: 100vw;
  height: 100dvh;
  margin-left: 0 !important;
  z-index: 1;
  .slide {
    height: 100dvh;
    width: 100%;
    .slideLink {
      display: block;
      width: $vw-golden;
      height: 100%;
      overflow: hidden;
      &:hover {
        .slideImg {
          transform: scale(1.1);
        }
      }
      .slideImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
