@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.slider {
  width: 100vw;
  height: 100dvh;
  margin-left: 0 !important;
  z-index: 1;
  @include for-sp {
    width: $vw-golden;
  }
  .slide {
    height: 100dvh;
    width: 100%;
    .slideLink {
      display: block;
      width: $vw-golden;
      height: 100%;
      overflow: hidden;
      @include for-sp {
        width: 100%;
      }
      &:hover {
        .slideImg {
          transform: scale(1.1);
        }
      }
      .slideImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 5s ease-in-out;
}
