@import '@styles/variables.scss';

.wrapper {
  position: fixed;
  right: 14px;
  top: 30px;
  .name {
    font-size: 20px;
    text-align: right;
    font-family: $font-roman;
    letter-spacing: 0.025em;
    font-size: 16px;
    padding: 5px;
  }
}
