@import '@styles/variables.scss';
@import '@styles/mixins';

.wrapper {
  position: fixed;
  z-index: 2;
  right: $pc-side-width;
  top: 38px;
  @include for-sp {
    right: $sp-side-width;
    top: 30px;
  }
  .name {
    padding: 5px 0;
    @include menu-texts;
  }
}
